@import "./globalVariables.css";

/* Cart */

.cartTitle {
  text-align: center;
  padding: 1rem;
  margin: 0;
}

.cart {
  background-color: var(--flag-red);
}

.tableContainer {
  display: flex;
  justify-content: center;
  background-color: var(--black);
  padding: 1rem 0;
}

.table {
  width: 97%;
  max-width: 1000px;
  border-collapse: collapse;

  background-color: var(--black);
  color: var(--yellow);
  padding: 0.5rem 0;
}

.tableHead > th {
  text-align: left;
}

.subTotalAndCheckout {
  padding: 1.5rem 2rem;
  margin: 1.5rem 1rem;
  background-color: var(--black);
  border-radius: 5px;
  color: var(--yellow);
}

.subTotal {
  margin: 0;
}

.flex {
  display: flex;
  justify-content: flex-start;
}

.checkOut {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
  background-color: var(--yellow);
  font-size: 1.1rem;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  transition: transform 1s ease-out 0s;
  margin-bottom: 1rem;
}

.checkOut:hover {
  background-color: var(--red);
  color: var(--black);
}

.continueShopping {
  color: var(--yellow);
}

/* Cart Item */

.remove {
  display: inline-block;
  /* font-weight: bold; */
  text-decoration: none;
  color: black;
  background-color: var(--yellow);
  font-size: 0.9rem;
  padding: 0.35rem 0.7rem;
  border-radius: 5px;
  transition: transform 1s ease-out 0s;
  /* margin-bottom: 1rem; */
  border: none;
}

.remove:hover {
  background-color: var(--red);
  color: var(--black);
}

.container {
  margin-right: 1.2rem;
}

.tableRow {
  border-bottom: 5px solid var(--flag-red);
}

.itemData {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.itemData > img {
  width: 30%;
  min-width: 50px;
  aspect-ratio: 1/1;
}

.itemData > p {
  margin: 0;
  margin-left: 1rem;
}

@media (max-width: 525px) {
  .itemData > p {
    margin-left: 0;
    margin-top: 5px;
  }

  .table {
    width: 100%;
  }

  .tableBody {
    display: flex;
    flex-direction: column;
  }

  .tableHead {
    visibility: hidden;
  }

  .tableRow {
    display: grid;
    grid-template-areas:
      "imageAndTitle quantity total"
      "price removeItem removeItem";
  }

  .imageAndTitle {
    grid-area: imageAndTitle;
  }

  .price {
    grid-area: price;
  }

  .quantity {
    grid-area: quantity;
  }

  .total {
    grid-area: total;
  }

  .removeItem {
    grid-area: removeItem;
  }

  .itemData {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    padding-top: 0.5rem;
  }

  .removeItem > div,
  .total > div,
  .quantity > div,
  .price > div,
  .itemData {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .container.containerPrice {
    margin-right: 0;
  }
}
