@import "./globalVariables.css";

.container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}

.link {
  margin: 0 1rem;
  text-decoration: none;
  color: var(--yellow);
  font-size: 1.3rem;
}

.activeLink {
  color: var(--red) !important;
  font-weight: bold;
}

@media (max-width: 500px) {
  .link {
    margin: 0 0.5rem;
  }
}
