@import "./globalVariables.css";

.container {
  padding-left: 2rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.label {
  margin-right: 5px;
  font-weight: bold;
}

.select {
  background-color: var(--yellow);
  color: var(--black);
}
